{% extends 'base.html' %}

{% block title %}Table{% endblock title %}

{% block content %}
  {% if request.user.is_superuser %}
    <a href="{% url 'currency:source-create' %}" class="btn btn-light">Create source</a>
  {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>source_url</th>
                <th>name</th>
                <th>phone</th>
                <th>logo</th>
                {% if request.user.is_superuser %}
                  <th scope="col">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for source in object_list %}
                <tr>
                    <td>{{ source.id }}</td>
                    <td>{{ source.source_url }}</td>
                    <td>{{ source.name }}</td>
                    <td>{{ source.phone }}</td>
                    <td><img src="{{ source.logo_url}}" height="40" width="40"></td>
                    <td>
                      {% if request.user.is_superuser %}
                        <a href="{% url 'currency:source-details' source.id %}" class="btn btn-primary">Details</a>
                        <a href="{% url 'currency:source-update' source.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'currency:source-delete' source.id %}" class="btn btn-danger">Delete</a>
                      {% endif %}
                    </td>
                </tr>

                </br>
            {% endfor %}
            </tbody>
        </table>
{% endblock content %}