{% extends 'base.html' %}

{% block title %}Source Details{% endblock title %}

{% block content %}


  <table class="table">
    <thead>
            <tr>
                <th>id</th>
                <th>source_url</th>
                <th>name</th>
                <th>phone</th>
                <th>logo</th>
                {% if request.user.is_superuser %}
                  <th scope="col">Actions</th>
                {% endif %}
            </tr>
    </thead>
            <tbody>
                <tr>
                    <td>{{ source.id }}</td>
                    <td>{{ source.source_url }}</td>
                    <td>{{ source.name }}</td>
                    <td>{{ source.phone }}</td>
                    <td><img src="{{ source.logo_url}}" height="40" width="40"></td>
                  <td><a href="{% url 'currency:source-list' %}">back to table</a></td>
                </tr>
            </tbody>
  </table>

{% endblock content %}